{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<h1>🤝 About Us</h1>
<p>We believe in creativity, simplicity, and innovation.</p>
<p>Our mission is to help others grow through knowledge-sharing, thoughtful design, and meaningful content.</p>
<p>Whether you’re here to learn, explore, or collaborate — welcome!</p>
<h2>📲Connect with me</h2>
<p><strong>Instagram:</strong> <a href="https://www.instagram.com/raihanxsk/" target="_blank">@raihanxsk</a></p>

{% endblock %}
